
<header class="site-navbar py-3" role="banner">

    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2" data-aos="fade-down">
                <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0">Photosen</a></h1>
            </div>
            <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

                    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                        <li class="active"><a href="/Default/Index">ANASAYFA</a></li>
                        <li class="has-children">
                            <a href="single.html">KATEGORİLER</a>
                            <ul class="dropdown">
                                <li><a href="#">Dizi</a></li>
                                <li><a href="#">Film</a></li>
                                <li><a href="#">Belgesel</a></li>
                                <li><a href="#">Oyun</a></li>
                                <li><a href="#">Teknoloji</a></li>
                                <li><a href="#">Araba</a></li>
                                <li><a href="#">Doğa</a></li>
                                <li><a href="#">Spor</a></li>
                                <li><a href="#">Sağlık</a></li>
                                <li><a href="#">Ressam</a></li>
                                <li><a href="#">Uzay</a></li>
                                <li><a href="#">3D</a></li>
                                @*<li class="has-children">
                                        <a href="#">Sub Menu</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Menu One</a></li>
                                            <li><a href="#">Menu Two</a></li>
                                            <li><a href="#">Menu Three</a></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </li>
                        <li><a href="/Default/Services">HİZMETLERİMİZ</a></li>
                        <li><a href="/Default/About">HAKKIMIZDA</a></li>
                        <li><a href="/Default/Contact">İLETİŞİM</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
                <div class="d-none d-xl-inline-block">
                    <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                        <li>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

            </div>

        </div>
    </div>

</header>
