
<head>
    <title>Wallpaperstar &mdash; Wallpaper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&amp;family=Roboto+Mono:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/photosen/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/photosen/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/photosen/css/magnific-popup.css">
    <link rel="stylesheet" href="~/photosen/css/jquery-ui.css">
    <link rel="stylesheet" href="~/photosen/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/photosen/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/photosen/css/lightgallery.min.css">

    <link rel="stylesheet" href="~/photosen/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/photosen/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/photosen/css/swiper.css">

    <link rel="stylesheet" href="~/photosen/css/aos.css">

    <link rel="stylesheet" href="~/photosen/css/style.css">

    <style>
        .icon-menu {
            color: white;
        }
    </style>
</head>
